html, body {
    overflow-x:hidden;
}
body {
    scrollbar-color: rgb(204, 48, 131) #111; /* thumb, track */
}

@media(min-width:800px){ 
    main{
    margin-top: 176px;   

    }
}
@media(max-width:800px){
main{
 margin-top: 173px;
}
}

header{
border-top: solid  rgb(204, 48, 131) 8px;
}

@media(max-width:800px) {
header .top-menu-padding-mobile{
    padding-left:20px;
    padding-right:20px;
}
}


@media(min-width:800px) {
header .top-menu-padding-desktop{
    padding-left:40px;
    padding-right:40px;
}
}
header img{
    max-width:91px;
}
nav ul {
    margin-bottom:0px;
    font-size: 14px;
}
nav ul li  {
    list-style:none;
    
}
.line-height-32 {
    line-height: 32px;
}
.line-height-52{
    line-height:52px;
}
.top-banner{
    height:50px;
    background-color:rgb(204, 48, 131);
}

.purple-color{
 background-color:rgb(204, 48, 131);
}



.generic-margin-top-bottom {
    margin-top:96px;
    margin-bottom:96px;

}

.generic-margin {
    margin-top:96px;
}

.generic-margin-bottom {
    margin-bottom:96px;
}
.background-purple{
    background:#8400d1;;
}

.color-purple{

    color:#8400d1;
}


 footer .footer-padding{
    padding-left: 40px;
    padding-right: 40px;
}
footer{
    border-bottom:solid  rgb(204, 48, 131) 8px;
}
footer ul {

    padding-left: 0px;

}

footer ul li {

    list-style:none;
}


.left-100{

    transform: translateX(-100%);
}

.left-0{
    transform: translateX(0%);
   
}

@media(max-width:800px) {
footer   {

    font-size:14px;
}
}


.max-height-0{

    max-height:0;
    overflow:hidden;
    
}

.max-height-100{

max-height:220px;

}
.About-text{

}

.slider{
    transition: 2s;
}

.footer-logo{
    width:60px;
    height:60px;
   
}

.border-top-border-bottom-grey{
   
    border-top: solid 1px grey;
     border-bottom: solid 1px grey;
}

.border-bottom-grey{
    
    border-bottom: solid 1px grey;
}
@media(max-width:700px) {
.generic-padding-mobile {
padding-left:24px;
padding-right:24px;
}
}

.light-grey-text{
    color:rgb(99, 99, 99);
}

.light-grey{
    background-color:rgb(231, 234, 236);
}

.font-weight-200{
    font-weight:200;
}
.font-weight-400{
    font-weight:400;
}

.max-height-300{
   max-height:200px;
}

.transition-1-s{
    transition:1s;
}
.generic-padding .row {
  margin-left: 0;
  margin-right: 0;
}
.d{
    overflow-y: auto!important;   /* ✅ allows scrolling inside */
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}
.line-height-40{
    line-height: 40px;
}

.bg-red{
   background-color:rgb(240, 4, 4);
}
@media (max-width: 700px) {
    .custom-margin-left {
      margin-left: 0;
    }
    .custom-margin-right {
      margin-right: 0;
    }

    .top-25{
        top:25%;
    }
    
    .generic-padding {
padding-left:16px;
padding-right:16px;
}

    .padding-mobile-0{
        padding-left:0px;
        padding-right:0px;
    }

.gutter-left{
    margin-left: -8px;
}

.gutter-right{
    margin-right: -8px;
}

.gutter-left-16px{
    margin-left:-16px!important;
}

.gutter-right-16px{
    margin-right:-16px!important;
}
  }

  @media (min-width: 700px) {
  .custom-margin-left {
    margin-left:-16px;
    }
    .custom-margin-right {
        margin-right:-16px;
    }

    

    .top-40-md{
        top:40%!important;
    }
    .generic-padding {
padding-left:48px;
padding-right:48px;
}
}



button:hover{
 // background-color: rgb(184, 43, 118);
}
.icon {
  font-size: 26px;
  color: white; /* fill */
  -webkit-text-stroke: 1px black; /* outline thickness & color */
  transform: scale(1.4);
}

.icon:hover {
  
  color: black; /* fill */
 
}
